---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";
import getSortedNotes from "@utils/getSortedNotes";

// Retrieve all published articles
const notes = await getCollection("notes");
const sortedNotes = getSortedNotes(notes);

// List of items to search in
const searchList = sortedNotes.map(({ data, slug }) => ({
  description: data.description,
  data,
  slug,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any note...">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
