<section class="giscus comments mx-auto mt-10 w-full"></section>

<script
  is:inline
  src="https://giscus.app/client.js"
  data-repo="Einlar/goldshish-cove"
  data-repo-id="R_kgDOL7i5lw"
  data-category="Blog Posts Comments"
  data-category-id="DIC_kwDOL7i5l84CfmNG"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="noborder_gray"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
