---
import Course from "@components/Course.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getCourses from "@utils/getCourses";
import { getCollection } from "astro:content";

const notes = await getCollection("notes");
let courses = getCourses(notes);
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="courses" />
  <Main pageTitle="Notes by Course" pageDesc="Notes organized by course.">
    <ul>
      {courses.map(({ course }) => <Course {course} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
